h1 {
  font-size: 5vw:
}

p {
  font-size: 3vw:
}

section {
  padding-bottom: 10vw;
}

section:nth-last-of-type(even) {
  background-color: rgba(255, 0, 0, 0.15);
}

.box {
  position: absolute;
  width: 15vw;
  height: 15vw;
  background-color: red;
}

.circles-warpper {
  display: flex;
  width: 80vw;
  flex-flow: row wrap;
  justify-content: space-around;
}
.circle {
  width: 15vw;
  height: 15vw;
  border-radius: 100%;

}
